<footer>
       <div class="footer-container">
           <p class="contact"><b>Contact Us: rapidrescuers@gmail.com | Phone: +639000000000</b></p>
           <div class="social-icons">
               <a href="https://www.facebook.com" target="_blank"><img src="https://i.postimg.cc/7Z8n9Bcw/facebook.png" alt="Facebook"></a>
               <a href="https://www.instagram.com" target="_blank"><img src="https://i.postimg.cc/SsvWMVC0/instagram.png" alt="Instagram"></a>
               <a href="https://www.x.com" target="_blank"><img src="https://i.postimg.cc/W1vfzbsG/x.png" alt="X"></a>
           </div>
       </div>
</footer>