<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rapid Rescuers</title>
		<link rel="stylesheet" href="about.css" />
	</head>
	<body>
		<main>
			<div class="hero">
				<div class="hero-content">
					<h1>About Rapid Rescuers</h1>
					<div class="content">
						<p>
							Welcome to Rapid Rescuers, where duty meets dedication. Our
							mission is to protect and serve our community through swift and
							efficient fire rescue operations. Since our inception, we've been
							committed to ensuring the safety and well-being of the residents
							of Emergency City and beyond.
						</p>
					</div>
					<h2>Our Mission</h2>
					<p>
						We respond to emergencies with unmatched speed and expertise, aiming
						to save lives and minimize damage.
					</p>
					<h2>Our Team</h2>
					<p>
						Composed of highly trained professionals, our team is passionate
						about rescue work and equipped with state-of-the-art technology.
						Learn more about our passionate rescuers in the Team section.
					</p>
					<h2>Training & Equipment</h2>
					<p>
						We invest in state-of-the-art equipment and continuous training to
						stay ahead of the curve. Our rescuers are equipped with the latest
						technology and tools, enabling them to perform their duties
						effectively and safely.
					</p>
					<h2>Community Involvement</h2>
					<p>
						We participate in local events, provide educational programs on fire
						safety, and offer support during non-emergency situations. Our goal
						is to foster a culture of safety and preparedness.
					</p>
					<h2>Contact Us</h2>
					<div class="contact-info">
						<p>
							For more information or to get involved, visit our website or
							reach out to us:
						</p>
						<ul>
							<li><strong>Email:</strong> rapidrescuers@gmail.com</li>
							<li><strong>Phone:</strong> +639000000000</li>
							<li>
								<strong>Address:</strong> 123 Roxas Ave. Davao City, Davao del
								Sur
							</li>
						</ul>
					</div>
				</div>
				<div class="photo-container">
					<img
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/FiremenFightBurningBarn.jpg/960px-FiremenFightBurningBarn.jpg"
						alt="Firefighters in gear fighting a fire with a hose"
					/>
				</div>
			</div>
		</main>
		<%- include('../partials/footer'); %>
	</body>
</html>
